@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RapidAppWeek2.Models.Genre>

<h2>Welcome to the music store</h2>

<ul>    

    @foreach(var g in Model)
    {       //Looks for browse action, store class
        <li>@Html.ActionLink(g.name, "Browse", "Store", new { genre = g.name }, null)</li>
    }
</ul>